@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #003049;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header {
    background-color: #fdf0d5;
    height: 270px;
    width: 270px;
    padding: 20px;
    border-radius: 50%;
}

.logo {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 700px;
    border: 2px solid black;
    position: relative;
}

.addBtnDiv {
    position: absolute;
    top: 40px;
    left: 160px;

}

#addBtn {
    width: 400px;
    height: 60px;
    padding: 10px;
    border: 6px solid #cdb4db;
    background-color: #4a4e69;
    color: #cdb4db;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 0;
}

.modal-container {
    background-color: #9d8189;
    height: 600px;
    width: 800px;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the modal */
    z-index: 1000;
    /* Ensure the modal appears above other content */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.modal-content {
    /* background-color: red; */
    margin: 30px;
}

.modal-content input {
    display: block;
    width: 75%;
    height: 40px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    position: relative;
}

.modal-content label {
    font-size: 1.6rem;
    text-align: center;
    color: #003049;
}

#descriptionInput {
    display: block;
    height: 200px;
    width: 100%;
    padding: 9px;
    font-size: 1.3rem;
    border-radius: 5px;
}

#priorityInput {
    display: block;
    /* position: absolute;
    right: 0; */
    margin-left: 600px;

}

#priorityLabel {
    position: absolute;
    top: 25%;
    right: 60px;

}

.modal-button {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border: 6px solid #cdb4db;
    background-color: #fdf0d5;
    color: #000;
    padding: 16px;
    border-radius: 5px;
    font-size: 1rem;

}

#deleteButton {
    margin: 30px;

}

#clseBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: transparent;
}